Creates dummy dataset of patient data including randomly generated location info.

In [0]:
import math, random
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [0]:
FILENAME="data.csv"

generate dummy clinics

In [0]:
# size of the map
MAP_DIM = (1000, 1000)

In [28]:
NUM_CLINICS = int(np.sqrt(max(MAP_DIM[0], MAP_DIM[1])))
NUM_CLINICS

31

In [0]:
def generate_clinics(num=NUM_CLINICS, max_x=MAP_DIM[0], max_y=MAP_DIM[1], 
                     saveto="clinics.csv"):
    ''' 
    generates clinic location data by sampling from 2d uniform
    
    Args:
    num: number of clinics
    max_x, max_y: dimensions of map
    saveto: output csv file name
    '''
    # randomly generate clinics
    clinics = []
    for i in range(num):
        while True:
            x = random.randint(0, max_x - 1)
            y = random.randint(0, max_y - 1)
            clinic = (x, y)
            if clinic not in clinics:
                clinics.append((x,y))
                break
    assert len(clinics) == num, "generated %d clinics" %len(clinics)

    if len(saveto) > 0:
        pd.DataFrame(clinics).to_csv(saveto)
    return clinics

In [0]:
clinics = generate_clinics()

generate dummy patients

---

In [0]:
data = pd.read_csv(FILENAME)

In [69]:
data.shape

(294, 14)

In [0]:
def generate_patients(clinics = clinics, file=FILENAME, max_x=MAP_DIM[0], 
                    max_y=MAP_DIM[1], compute_dists=True, concact=True, 
                    saveto="patients.csv"):
    ''' 
    generates patient data by reading dummy data set and randomly sampling from 
    uniform for location
    
    Args:
    clinics: list of clinics as (x,y) coordinates
    file: filename of dataset
    max_x, max_y: dimensions of map
    compute_dists: if True compute distances between client and all clinics as 
        features; otherwise use (x,y) 
    concact: whether to return data as concacted data frame 
        or separately (data, sampled dists)
    saveto: output csv filename
    '''
    data = pd.read_csv(file)
    num_patients = data.shape[0]

    x = len(clinics) if compute_dists else 2
    dist= {i:[] for i in range(x)} 

    for _ in range(num_patients):
        x = random.randint(0, max_x - 1)
        y = random.randint(0, max_y - 1)

        if compute_dists:
            # compute distance to all the available clinics as features
            for i, (c_x, c_y) in enumerate(clinics):
                distance = np.linalg.norm([x-c_x, y-c_y])
                dist[i].append(distance)
        else:
            # use location coordinates as features
            dist[0] = x
            dist[1] = y

    dist = pd.DataFrame(dist)
    concacted = pd.concat([data, dist], axis=1)

    if len(saveto) > 0:
        concacted.to_csv(saveto)

    return concacted if concact else (data, dist)

In [66]:
generate_patients()

     age  sex  cp trestbps  ...          27          28          29          30
0     28    1   2      130  ...  521.359761  527.163163  214.133136   63.560994
1     29    1   2      120  ...  691.960259  470.023404  348.206835  367.185239
2     29    1   2      140  ...  801.027465  596.518231  441.678616  387.253147
3     30    0   1      170  ...  687.501273  592.483755  324.599754  153.551294
4     31    0   2      100  ...  707.407238  799.180831  489.326067  288.321002
..   ...  ...  ..      ...  ...         ...         ...         ...         ...
289   52    1   4      160  ...  876.042236  760.019079  511.414705  322.691803
290   54    0   3      130  ...  257.388811  241.536747  476.707457  725.986914
291   56    1   4      155  ...  943.375323  864.473250  591.898640  365.826462
292   58    0   2      180  ...  615.338118  656.246905  343.036441  128.222463
293   65    1   4      130  ...  254.332460  197.797877  439.629389  690.278929

[294 rows x 45 columns]